table {
	table-layout: fixed;
	width: 100%;
	width: 100%;
	font-size: 15px;
}

.node text {
	pointer-events: none;
	text-shadow: 0 1px 0 #fff;
}

.focus-node rect {
	cursor: move;
	fill-opacity: .9;
  	shape-rendering: crispEdges;
}

.focus-node text {
	pointer-events: none;
 	text-shadow: 0 1px 0 #fff;
}

.link {
	fill: none;
	stroke: #000;
	stroke-opacity: .05;
}

.link:hover {
	stroke-opacity: .25;
}


.focus-link {
	fill: none;
	stroke: #000;
	stroke-opacity: .05;
}

.focus-link:hover {
	fill: none;
	stroke: #000;
	stroke-opacity: .05;
}

svg {
	position: absolute;
}

canvas {
  position: absolute;
}

div.tooltip {	
position: absolute;
text-align: center;
width: auto;
height: auto;
padding: 5px;		
font: 12px sans-serif;
border: 1px solid gray;
border-radius: 8px;
pointer-events: none;
font-family: "Segoe UI";
background-color: #696969;
color: #fff;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.overlap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.overlap-1 {
    display: block;
    z-index: 110;
}

.overlap-2 {
    display: block;
    z-index: 120;
}

.axis {
	font-size: 0.75em;
}

/*  MURA layout */
#header {
	background: url(../img/bg-pattern.png), linear-gradient(to left, #c50c3e, #a90531);
	padding: 50px;
}

#page-subtitle { 
	color: white;
	text-align: center;
}

#title-image {
	max-width: 200px;
	vertical-align: middle;
}

.p {
	font-size: 1.2em;
}

.btn-primary {
	background-color: #c50c3e;
	border-color: #a90531;
}

#fp, #fn {
	background-color: rgba(200,0,0,0.5);
}